{% extends "../layout.njk" %}

{% block css %}
  <link rel="stylesheet" href="/css/post.min.css">
{% endblock %}

{% block content %}
  <div class="post">
    <div class="header">
      <p class="title">欢迎上传你的台词~~</p>
    </div>
    <form class="needs-validation" novalidate action="/post/lines" enctype="multipart/form-data" method="post">

      <div class="row mb-3">
        <label for="areaId" class="mb-2">影视类型</label>
        <select class="custom-select d-block w-100" name="formalId" required>
          {% for option in uploadFormalList %}
            {% if loop.first %}
              <option selected value="{{ option.id }}">{{ option.name }}</option>
            {% else %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-feedback" style="width: 100%;">请选择影视类型</div>
      </div>

      <div class="row mb-3">
        <label for="originName" class="mb-2">原剧剧名</label>
        <input type="text" class="form-control" name="originName" required>
        <div class="invalid-feedback" style="width: 100%;">请输入原剧剧名</div>
      </div>

      <div class="row mb-3">
        <label for="nameCn" class="mb-2">中文剧名</label>
        <input type="text" class="form-control" name="nameCn" required>
        <div class="invalid-feedback" style="width: 100%;">请输入中文剧名</div>
      </div>

      <div class="row mb-3">
        <label for="areaId" class="mb-2">所在地区</label>
        <select class="custom-select d-block w-100" name="areaId" required>
          {% for option in uploadAreaList %}
            {% if loop.first %}
              <option selected value="{{ option.id }}">{{ option.name }}</option>
            {% else %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-feedback" style="width: 100%;">请选择所在地区</div>
      </div>

      <div class="row mb-3">
        <label for="linesLangId" class="mb-2">剧中台词语言</label>
        <select class="custom-select d-block w-100" name="linesLangId" required>
          {% for option in uploadLanguageList %}
            {% if loop.first %}
              <option selected="{{ option.id }}" value="{{ option.id }}">{{ option.name }}</option>
            {% else %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-feedback" style="width: 100%;">请选择剧中台词语言</div>
      </div>

      <div class="row mb-3">
        <label for="linesText" class="mb-2">剧中台词</label>
        <textarea class="form-control" value="" name="linesText" rows="3" required></textarea>
        <div class="invalid-feedback" style="width: 100%;">请输入剧中台词</div>
      </div>

      <div class="row mb-3">
        <label for="transLangId" class="mb-2">台词翻译语言</label>
        <select class="custom-select d-block w-100" name="transLangId" required>
          {% for option in uploadLanguageList %}
            {% if loop.first %}
              <option selected="{{ option.id }}" value="{{ option.id }}">{{ option.name }}</option>
            {% else %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-feedback" style="width: 100%;">请选择台词翻译语言</div>
      </div>

      <div class="row mb-3">
        <label for="transText" class="mb-2">台词翻译</label>
        <textarea class="form-control" value="" name="transText" rows="3" required></textarea>
        <div class="invalid-feedback" style="width: 100%;">请输入台词翻译</div>
      </div>

      <div class="row mb-3">
        <label for="images" class="mb-2">剧中截图</label>
        <div class="custom-file">
          <label class="custom-file-label" for="images">选择截图（最多上传 9 张）
            <input type="file" multiple class="custom-file-input" name="images" id="images">
          </label>
        </div>
      </div>

      <div class="row mb-3">
        <div id="imageWrapper" class="d-block"></div>
      </div>

      <hr class="mb-4">
      {% if errors %}
        {% for error in errors %}
          <p class="alert alert-danger">{{ error.msg }}</p>
        {% endfor %}
      {% endif %}
      <button class="btn btn-primary btn-lg btn-block" type="submit" id="postBtn">投稿</button>
    </form>
  </div>
{% endblock %}

{% block js %}

  <script>
    (function () {

      window.addEventListener('load', function () {

        var forms = document.getElementsByClassName('needs-validation');

        Array.prototype.filter.call(forms, function (form) {

          form.addEventListener('submit', function (event) {

            if (form.checkValidity() === false) {

              event.preventDefault();

              event.stopPropagation();

            }

            form.classList.add('was-validated');

          }, false);

        });

      }, false);

      let images = document.getElementById('images');

      let imageWrapper = document.getElementById('imageWrapper');

      function previewPicture(imageLength) {

        let imageList = [
          'A0001',
          'B0001',
          'C0001',
          'D0001',
          'E0001',
          'F0001',
          'G0001',
          'H0001',
          'I0001',
        ];

        let images = document.getElementById('images');

        let files = images.files;

        let fileLength = files.length + imageLength;

        if (fileLength > 9) {
          window.$message('上传图片数量不能超过 9 张');
          return false;
        }

        let fileTypeList = ['image/png', 'image/jpg', 'image/jpeg', 'image/gif'];

        for (let i = 0; i < fileLength; i++) {

          let file = files[i];

          if (fileTypeList.indexOf(file.type) === -1) {
            window.$message('上传图片必须是 png, jpg, jpeg, gif 类型');
            files = Array.from(files);
            files.splice(i, 1);
            console.log(files);
            return false;
          }

          let sectionHTML = document.createElement('section');

          sectionHTML.setAttribute('id', imageList[i]);

          let img = new Image();

          img.src = URL.createObjectURL(file);

          sectionHTML.appendChild(img);

          let iconsHTML = document.createElement('span');

          iconsHTML.setAttribute('class', 'icons');

          let delHTML = document.createElement('span');

          delHTML.setAttribute('class', 'del');

          delHTML.setAttribute('data-id', imageList[i]);

          delHTML.innerText = 'X';

          iconsHTML.appendChild(delHTML);

          sectionHTML.appendChild(iconsHTML);

          imageWrapper.appendChild(sectionHTML);
        }
      }

      function queryChildrenLength(el) {
        el = el || document.getElementById('imageWrapper');
        return el.children.length;
      }

      images.addEventListener('change', () => {
        let imageLength = queryChildrenLength();
        previewPicture(imageLength);
      });

      imageWrapper.addEventListener('click', e => {

        const { target } = e;

        if (target.classList.contains('del')) {

          let id = target.dataset.id;

          let parent = document.getElementById(id);

          imageWrapper.removeChild(parent);

        }
      });

    })();
  </script>
{% endblock %}
