@import "./root";

body {
  width: 100%;
  background: $bg-color;
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  .navbar {
    height: 60px;
  }

  .content {
    margin-top: 60px;
  }

}
