@import "./root";

.category {
  padding-left: 5rem;
  padding-top: 2rem;

  .line {
    display: flex;
    margin-bottom: 1.5rem;

    li.item {
      margin-right: 1rem;
      a {
        padding: 0.2rem 0.5rem;
        color: $content-color;
        font-size: 1rem;
        &:hover {
          color: $hover-color;
        }

        &.active {
          color: $bg-white;
          background: $hover-color;
        }
      }
    }
  }
}

.list-wrapper {
  ul li {
    margin-bottom: 2rem;
  }

  section {
    padding-bottom: 1rem;

    p {
      padding-top: 0.4rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

}
