@import "./root";

.post {
  width: 60rem;
  background: $bg-white;
  padding-left: 10rem;
  overflow: hidden;

  .header {
    padding: 1.5rem 0;

    .title {
      font-size: 2rem;
      text-align: center;
    }
  }

  form {
    width: 40rem;
    margin: 0 auto;

    .row label {
      font-weight: bold;
    }
  }

  textarea {
    min-height: 2rem;
  }

  #uploadMsg {
    display: none;
    margin-top: 1rem;
  }

  #imageWrapper {
    section {
      float: left;
      position: relative;

      &:hover {

        .icons {
          display: block;
          cursor: pointer;
        }

      }

      img {
        width: 12rem;
        height: 12rem;
        margin: 0.5rem;
        border: 1px solid $assist-color;
      }

      .icons {
        display: none;
        position: absolute;
        height: 20px;
        width: 20px;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 20px;
        background: $assist-color;
        color: #fff;
        border-radius: 12px;
      }

      .del {
        font-size: 0.8rem;
      }

    }
  }

}
