$pri-color: #2d8cf0;
$light-pri-color: #5cadff;
$dark-pri-color: #2b85e4;
$info-color:#2db7f5;
$success-color:#19be6b;
$warn-color: #ff9900;
$err-color: #ed4014;
$title-color: #17233d;
$content-color: #222;
$assist-color: #808695;
$disable-color: #c5c8ce;
$border-color: #dcdee2;
$divide-color: #e8eaec;
$bg-color: #f8f8f9;
$shadow-color: #888888;

$base-blue:#0186aa;
$bg-white: #fff;
$bg-scroll-color: #A4A4A4;
