<nav class="header">
  <div class="wrapper">
    <div class="logo-wrapper">
      <img src="{{ logoInfo.url }}" alt="{{ logoInfo.alt }}" class="logo">
    </div>
    <ul class="nav">
      {% for item in navList %}
        <li class="nav-item">
          <a href="{{ item.href }}" class="nav-link {% if page === item.id %} active {% endif %}">{{ item.name }}</a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <div class="search">

        </div>
      </li>
    </ul>
    <div class="profile">

    </div>
  </div>
</nav>
