{% extends "../layout.njk" %}

{% block content %}
  <style>
    .login-wrapper {
      margin: 2rem auto;
      padding-top: 3rem;
      width: 26rem;
    }
    #showError {
      display: none;
    }
  </style>

  <div class="login-wrapper">
    <form action="/user/login" method="post">
      <div class="form-group row">
        <label for="email" class="col-md-3 col-sm-4 col-form-label">邮箱</label>
        <div class="col-md-9 col-sm-8">
          <input name="email" value="mark@mark.com" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-md-3 col-sm-4 col-form-label">密码</label>
        <div class="col-md-9 col-sm-8">
          <input name="password" value="mark@mark.com" type="password" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <input type='submit' class='btn btn-primary' value='登录'/>
        <label class="col-sm-8 col-form-label">
          <a href="/user/signUp">没有账号，前去注册</a>
        </label>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        {% if errors %}
          {% for error in errors %}
            <p class="alert alert-danger">{{ error.msg }}</p>
          {% endfor %}
        {% endif %}
      </div>

    </form>
  </div>
{% endblock %}

{% block js %}
{% endblock %}

