{% extends "../layout.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/home.min.css">
{% endblock %}

{% block content %}
<div class="category">
  <ul class="line">
    {% for item in searchFormalList %}
      <li class="item">
        <a class=" {% if item.id === formalId %}active{% endif %}"
           href="?formalId={{ item.id }}&areaId={{ areaId }}&helperId={{ helperId }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="line">
    {% for item in searchAreaList %}
      <li class="item">
        <a class=" {% if item.id === areaId %}active{% endif %}"
           href="?formalId={{ formalId }}&areaId={{ item.id }}&helperId={{ helperId }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="line">
    {% for item in searchHelperList %}
      <li class="item">
        <a class=" {% if item.id === helperId %}active{% endif %}"
           href="?formalId={{ formalId }}&areaId={{ areaId }}&helperId={{ item.id }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="list-wrapper">
  <ul>
    {% for lines in linesList %}
      <li class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ lines.nameCn }} - {{ lines.originName }}</h3>
        </div>
        <div class="card-body">
          <p>内容</p>
        </div>
        <div class="card-footer">
          <p>底部</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
