{% extends "../layout.njk" %}

{% block css %}
<link rel="stylesheet" href="/css/home.min.css">
{% endblock %}

{% block content %}
<div class="category">
  <ul class="line">
    {% for item in searchFormalMap %}
      <li class="item">
        <a class=" {% if item.id === formalId %}active{% endif %}"
           href="?formalId={{ item.id }}&areaId={{ areaId }}&helperId={{ helperId }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="line">
    {% for item in searchAreaMap %}
      <li class="item">
        <a class=" {% if item.id === areaId %}active{% endif %}"
           href="?formalId={{ formalId }}&areaId={{ item.id }}&helperId={{ helperId }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="line">
    {% for item in searchHelperMap %}
      <li class="item">
        <a class=" {% if item.id === helperId %}active{% endif %}"
           href="?formalId={{ formalId }}&areaId={{ areaId }}&helperId={{ item.id }}">{{ item.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
