{% extends "../layout.njk" %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="post">
    <div class="header">
      <p class="title">欢迎上传你的台词~~</p>
    </div>
    <div class="body">
      <form class="form-inline">
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <span>原剧剧名</span>
          </div>
          <div class="col-md-8 col-xs-6">
            <input type="text" class="form-control" id="nameOrigin">
          </div>
        </div>
      </form>


      <section class="line">
        <p class="left">
          <span>原剧剧名</span>
        </p>
        <p class="right">
          <input type="text" id="nameOrigin" class="y-input">
        </p>
      </section>
      <section class="line">
        <p class="left">
          <span>中文剧名</span>
        </p>
        <p class="right">
          <input type="text" id="nameCn" class="y-input">
        </p>
      </section>
      <section class="line">
        <p class="left">
          <span>所在地区</span>
        </p>
        <p class="right">
          <label for="areaId">
            <select id="areaId" class="y-select" style="position: relative;">
              <option selected="selected" value="mainland" class="y-select">中国大陆</option>
              {% for option in uploadAreaList %}
                <option value="{{ option.id }}" class="y-select">{{ option.name }}</option>
              {% endfor %}
            </select>
          </label>
        </p>
      </section>
      <section class="line">
        <p class="left">
          <span>剧中台词</span>
        </p>
        <p class="right">
          <select id="linesLangId" class="y-select">
            <option selected="selected" value="cn" class="y-select">汉语</option>
            {% for option in uploadLanguageList %}
              <option value="{{ option.id }}" class="y-select">{{ option.name }}</option>
            {% endfor %}
          </select>
          <textarea id="linesTextId" class="y-textarea" cols="30" rows="10"></textarea>
        </p>
      </section>
      <section class="line">
        <p class="left">
          <span>台词翻译</span>
        </p>
        <p class="right">
          <select name="transLang" id="transLangId" class="y-select">
            <option selected="selected" value="cn" class="y-select">汉语</option>
            {% for option in uploadLanguageList %}
              <option value="{{ option.id }}" class="y-select">{{ option.name }}</option>
            {% endfor %}
          </select>
          <textarea name="linesTrans" id="linesTransId" class="y-textarea" cols="30" rows="10"></textarea>
        </p>
      </section>
      <section class="line">
        <p class="right">
          <button class="y-button" id="postBtn">投稿</button>
        </p>
      </section>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/javascript/post.min.js"></script>
{% endblock %}
